<br>
<div class="container">
  <div class="row">
    <div class="col-6">
      <%= render 'form' %>
    </div>
    <div class="col-2">
    </div>
    <div class="col-4">
      <strong>It is possible to edit Your existing Exchange Report here.</strong>
    </div>
  </div>
</div>
