<br>
<div class="container">
  <div class="row">
    <div class="col-6">
      <%= render 'form' %>
    </div>
    <div class="col-2">
    </div>
    <div class="col-4">
      <br>
      <strong>API requests will be made only if necessary data is missing from the database.</strong>
    </div>
  </div>
</div>
