<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <%= render 'form' %>
    </div>
    <div class="col-4">
    </div>
    <div class="col-4">
      <strong>API requests will only be made if necessary data is missing from the database.</strong>
    </div>
  </div>
</div>
