@import "bootstrap"
@import font-awesome

.alert
  text-align: center

.navbar
  background: #33968a

.btn-primary
  background: #33968a
  border-color: #0e6342
  &:hover
    background: #266c64
    border-color: #0a4d33
  .delete
    background: #0a5638
  &:active
    background: #266c64
    border-color: #0a4d33
  .delete
    background: #0a5638
  &:visited
    background: #266c64
    border-color: #0a4d33
  .delete
    background: #0a5638
  &:focus
    background: #266c64
    border-color: #0a4d33
  .delete
    background: #0a5638

.table
  font-size: 90%